bokeh
ipykernel
ipywidgets
matplotlib
numpy
pandas
seaborn
scipy
xlrd
openpyxl
requests
beautifulsoup4
statsmodels
networkx
scikit-learn

# NLP
gensim
nltk
pyLDAvis
spacy
vaderSentiment

# Networks
networkx
python-louvain

# Scaling up
pyspark
